[submodule "acts-core"]
	path = external/acts-core
	url = git@github.com:sPHENIX-Collaboration/acts-core
[submodule "external/dfelibs"]
	path = external/dfelibs
	url = git@github.com:sPHENIX-Collaboration/dfelibs
