[submodule "acts-core"]
	path = external/acts-core
	url = https://github.com/osbornjd/acts-core.git
[submodule "acts-fatras"]
	path = external/acts-fatras
	url = https://github.com/sPHENIX-Collaboration/acts-fatras.git
[submodule "external/dfelibs"]
	path = external/dfelibs
	url = https://github.com/sPHENIX-Collaboration/dfelibs.git
