[submodule "acts-core"]
	path = external/acts-core
	url = https://github.com/sPHENIX-Collaboration/acts-core
[submodule "acts-fatras"]
	path = external/acts-fatras
	url = https://gitlab.cern.ch/acts/acts-fatras.git
[submodule "external/dfelibs"]
	path = external/dfelibs
	url = https://github.com/sPHENIX-Collaboration/dfelibs
